<!--div class="container">
    <legend>Edit Item</legend>
    <form>
      <div class="mb-3">
        <label for="txtname client" class="form-label">name client</label>
        <input type="text" name="name client" [(ngModel)] = "factureForm.name client" class="form-control" id="txtname client" />
      </div>
      <div class="mb-3">
        <label for="txtarticle" class="form-label">article</label>
        <input type="text" name="article" [(ngModel)] = "factureForm.article" class="form-control" id="txtarticle" />
      </div>
      <div class="mb-3">
        <label for="txtnumero facture" class="form-label">numero facture</label>
        <input type="number" name="numero facture" [(ngModel)] = "factureForm.numero facture" class="form-control" id="txtnumero facture" />
      </div>
      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
</div-->
